.index {
    display: flex;
    flex-wrap: wrap;
    font-family: "Trebuchet MS", Helvetica, sans-serif
;}

.index .article {
    max-width: 300px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 7px;

    text-decoration: none;
    color: #212121;
}

.index .article:hover {
    background-color: #EEEEEE;
}

.index .article .pub_date {
    font-size: 12px;
    color: grey;
}

.index .article .detail {
    display: flex;
    align-items: center;
}

.index .article .detail .img {
    padding-right: 7px;
}