body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;  
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.header .title {
    font-family: serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.header .toggle-theme {
    display: flex;
    text-align: right;
}

.header .toggle-theme * {
    max-height: 23px;
    align-self: center;
}

.header .toggle-theme .row {
    display: none;
    padding-right: 10px;
    filter: grayscale(100%);
}

.header .toggle-theme .grid {
    max-height: 22px;
    padding-right: 10px;
    filter: grayscale(100%);
}

.header .toggle-theme .sun {
    filter: grayscale(100%);
    display: none;
}

.header .toggle-theme .moon {
    filter: opacity(25%);
}

.header .toggle-theme *:hover {
    cursor: pointer;
    filter: none;
}


.index {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 1000px;
    border: 1px solid black;
    border-bottom: none;
;}

.index .article {
    /*width: 100%;*/
    border-bottom: 1px solid black;
    padding: 7px;
    text-decoration: none;
    color: #212121;
}

.index .article:hover {
    background-color: #EEEEEE;
}

.index .article .title {
    font-size: 18px;    
}

.index .article .pub_date {
    font-size: 12px;
    color: grey;
}

.index .article .detail {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.index .article .detail .img {
    padding-right: 7px;
    max-height: 100px;
    max-width: 100px;
}

/* GRID MODE */
body.grid .index {
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    max-width: 1305px;
}

body.grid .index .article {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 5px;
}

body.grid .index .article .title {
    font-size: 16px;
}

body.grid .index .article .pub_date {
    font-size: 11px;
}

body.grid .index .article .detail .description {
    font-size: 14px;
}

body.grid .header .toggle-theme .row {
    display: block;
}

body.grid .header .toggle-theme .grid { 
    display: none;
}

/* DARK MODE */
body.dark {
    background-color: #212121;
}

body.dark .header .title,
body.dark .index .article {
    color: #EEEEEE;
}

body.dark .header,
body.dark .index,
body.dark .index .article {
    border-color: grey;
}

body.dark .index .article:hover {
    background-color: #313131;
}

body.dark .header .toggle-theme .sun {
    display: block;
}

body.dark .header .toggle-theme .moon {
    display: none;
}