{% extends "overall.html" %}
{% block content %}
    <div class="index">
        {% for article in articles %}
        <a class="article" target="_blank" rel="noopener noreferrer" href="{{ article.url }}">
            <div class="title">{{ article.title }}</div>
            <div class="pub_date">{{ article.newspaper.name }} - {{ article.publication_date }}</div>
            <div class="detail">
                <img class="img" src="{{ article.image_url }}"> 
                <div class="description">{{ article.description }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    Coucou
{% endblock %}
